*tb_logs/
tb_logs/
*/__pycache__/
*.pyc
minerva.yml
notebooks/data/
*/.ipynb_checkpoints/
data/
experiments/experiment_1/__pycache__/
experiments/experiment_1/.ipynb_checkpoints
*.log
*.aux
*.toc
*.bbl
*.blg
*.out
*.pdf
paper/tex/figur/*
experiments/experiment_2/.ipynb_checkpoints/
